body {
  background: #EEF2F7;
}

.inputCoords{
  width: 99%;
  height: 30%;
  
}

button {
 width : 400px;
 height : 40px;
 color: white;
 background : green;
}

span {
  font-size : 20px;
  style : bold;
  color : red;
}
